In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("../data_given/bank-additional-full.csv")
df.shape

(41188, 21)

In [3]:
df.drop_duplicates(inplace=True)

In [4]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
numeric_variables = []
categorical_variables = []

for col in df.columns:
    if df[col].dtypes =="O":
        categorical_variables.append(col)
    else:
        numeric_variables.append(col)
        
print(f"Numeric Variables {numeric_variables}\nCategorical Variables {categorical_variables}")

Numeric Variables ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
Categorical Variables ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome', 'y']

In [6]:
print("Columns : No. of unique values -> Unique Values\n")
for col in categorical_variables:
    print(f"{col} : {len(df[col].unique())} -> {df[col].unique()}\n")

Columns : No. of unique values -> Unique Values

job : 12 -> ['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']

marital : 4 -> ['married' 'single' 'divorced' 'unknown']

education : 8 -> ['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']

default : 3 -> ['no' 'unknown' 'yes']

housing : 3 -> ['no' 'yes' 'unknown']

loan : 3 -> ['no' 'yes' 'unknown']

contact : 2 -> ['telephone' 'cellular']

month : 10 -> ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']

day_of_week : 5 -> ['mon' 'tue' 'wed' 'thu' 'fri']

poutcome : 3 -> ['nonexistent' 'failure' 'success']

y : 2 -> ['no' 'yes']

In [7]:
df['job'].value_counts()

job
admin.           10419
blue-collar       9253
technician        6739
services          3967
management        2924
retired           1718
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: count, dtype: int64

In [8]:
df['job'] = df['job'].replace('unknown', df['job'].value_counts().idxmax())

In [9]:
df['job'].value_counts()

job
admin.           10749
blue-collar       9253
technician        6739
services          3967
management        2924
retired           1718
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
Name: count, dtype: int64

In [10]:
df['marital'].value_counts()

marital
married     24921
single      11564
divorced     4611
unknown        80
Name: count, dtype: int64

In [11]:
df['age'].describe()

count    41176.00000
mean        40.02380
std         10.42068
min         17.00000
25%         32.00000
50%         38.00000
75%         47.00000
max         98.00000
Name: age, dtype: float64

Median is 38 years. So, map unknown values with married status.

In [12]:
df['marital'] = df['marital'].replace("unknown","married")

In [13]:
df['marital'].value_counts()

marital
married     25001
single      11564
divorced     4611
Name: count, dtype: int64

In [14]:
df['education'].value_counts()

education
university.degree      12164
high.school             9512
basic.9y                6045
professional.course     5240
basic.4y                4176
basic.6y                2291
unknown                 1730
illiterate                18
Name: count, dtype: int64

In [15]:
def maximum_occurring(col):
    df[col] = df[col].replace("unknown",df[col].value_counts().idxmax())
    return df[col].value_counts()

In [16]:
maximum_occurring('education')

education
university.degree      13894
high.school             9512
basic.9y                6045
professional.course     5240
basic.4y                4176
basic.6y                2291
illiterate                18
Name: count, dtype: int64

In [17]:
df['default'].value_counts()

default
no         32577
unknown     8596
yes            3
Name: count, dtype: int64

In [18]:
maximum_occurring('default')

default
no     41173
yes        3
Name: count, dtype: int64

In [19]:
df['default'] = df['default'].map({'yes':1,'no':0})
df['default'].value_counts()

default
0    41173
1        3
Name: count, dtype: int64

In [20]:
categorical_variables

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'poutcome',
 'y']

In [21]:
df['loan'].value_counts()

loan
no         33938
yes         6248
unknown      990
Name: count, dtype: int64

In [22]:
def cat_to_num(col):
    maximum_occurring(col)
    df[col]=df[col].map({'yes':1,'no':0})
    return df[col].value_counts()

In [23]:
cat_to_num('housing')

housing
1    22561
0    18615
Name: count, dtype: int64

In [24]:
cat_to_num("loan")

loan
0    34928
1     6248
Name: count, dtype: int64

In [25]:
cat_to_num("y")

y
0    36537
1     4639
Name: count, dtype: int64

In [26]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,0,0,0,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,0,0,0,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,0,1,0,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,0,0,0,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,0,0,1,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [27]:
ohe_columns = []
for col in df.columns:
    if df[col].dtypes =="O":
        ohe_columns.append(col)

ohe_columns

['job', 'marital', 'education', 'contact', 'month', 'day_of_week', 'poutcome']

In [28]:
ohe = pd.get_dummies(df[ohe_columns],drop_first=True).astype(int)

In [29]:
df1 = pd.concat([ohe,df.drop(ohe_columns,axis=1)],axis=1)

In [30]:
df.shape

(41176, 21)

In [31]:
df1.shape

(41176, 48)

In [32]:
from imblearn.over_sampling import SMOTE

In [33]:
df['y'].value_counts()

y
0    36537
1     4639
Name: count, dtype: int64

In [34]:
smote = SMOTE(sampling_strategy='minority')
df2, df2['y'] = smote.fit_resample(df1.drop('y',axis=1),df1['y'])

In [35]:
df2['y'].value_counts()

y
0    36537
1    36537
Name: count, dtype: int64

In [36]:
df2.corr()['y'].abs().sort_values(ascending=False)

y                                1.000000
nr.employed                      0.466978
duration                         0.462023
euribor3m                        0.447327
emp.var.rate                     0.431172
contact_telephone                0.367148
poutcome_nonexistent             0.327809
pdays                            0.309251
poutcome_success                 0.284837
month_may                        0.277855
job_blue-collar                  0.276177
marital_married                  0.246471
day_of_week_mon                  0.237537
education_basic.9y               0.224838
education_high.school            0.220540
housing                          0.202744
campaign                         0.201712
previous                         0.195858
cons.price.idx                   0.195307
day_of_week_tue                  0.193588
loan                             0.193450
day_of_week_thu                  0.192733
job_technician                   0.192569
day_of_week_wed                  0.189667
job_services                     0.181879
education_professional.course    0.175520
month_jul                        0.154327
job_management                   0.143933
education_basic.6y               0.142045
month_nov                        0.123174
education_university.degree      0.122840
month_aug                        0.121626
month_jun                        0.117352
job_entrepreneur                 0.113273
job_self-employed                0.106412
job_housemaid                    0.092811
marital_single                   0.084162
job_unemployed                   0.080261
cons.conf.idx                    0.074023
month_oct                        0.065822
month_mar                        0.064609
month_sep                        0.064362
job_retired                      0.031904
month_dec                        0.027112
age                              0.011927
education_illiterate             0.008720
default                          0.006407
job_student                      0.004966
Name: y, dtype: float64

In [37]:
df2.columns

Index(['job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_married',
       'marital_single', 'education_basic.6y', 'education_basic.9y',
       'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'contact_telephone', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success', 'age',
       'default', 'housing', 'loan', 'duration', 'campaign', 'pdays',
       'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [38]:
df2.describe().loc[['min','max']].to_json("schema_in.json")

In [39]:
df2.to_csv('cleaned dataset.csv', index=False)